<footer class="container-fluid text-center fixed-bottom">
    Static HTML Boilerplate
    <ul class="text-primary d-flex justify-content-center list-unstyled" role="list">
        <li>
            <a href="#">
                <i class="fa-brands fa-facebook fa-fw"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-brands fa-square-x-twitter fa-fw"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-brands fa-square-instagram fa-fw"></i>
            </a>
        </li>
    </ul>
</footer>
